.App{
  background-image: url("./pages/images/background.jpg");
  height: 100%;
  min-height: 97.5vh;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

h1, h3{
  text-align: center;
  font-family: 'Playfair Display', serif;
  color: white
}

input, button, h4, p, div{
  font-family: 'Shippori Antique', sans-serif;
  color: white;
}

.activeLink {
  outline: 2px solid #592B02
}
